.block {
  font-size: 1.0rem;
  /*background: url('../images/ogp.png');*/
}

.ogp {
  $image: '../images/ogp.png';
  width: width($(image));
  height: height($(image));
  background-image: url($(image));
}
