<li>
  {% if item.displayName %}
    <strong>{{ item.displayName }}</strong>:
  {% else %}
    <strong>{{ key }}</strong>:
  {% endif %}

  <em>
    {%- if item.required -%}required {% endif -%}
    (
    {%- if item.enum -%}
      one of {{ item.enum.join(', ') }}
    {%- else -%}
      {{ item.type }}
    {%- endif -%}

    {%- if item.default %} - default: {{ item.default }}{%- endif -%}
    {%- if item.repeat %} - repeat: {{ item.repeat }}{%- endif -%}
    {%- if item.type == 'string' -%}
      {%- if item.minLength %} - minLength: {{ item.minLength }}{%- endif -%}
      {%- if item.maxLength %} - maxLength: {{ item.maxLength }}{%- endif -%}
    {%- else -%}
      {%- if item.minimum %} - minimum: {{ item.minimum }}{%- endif -%}
      {%- if item.maximum %} - maximum: {{ item.maximum }}{%- endif -%}
    {%- endif -%}
    {%- if item.pattern %} - pattern: {{ item.pattern }}{%- endif -%}
    )
  </em>

  {% markdown %}{{ item.description }}{% endmarkdown %}

  {% if item.schema %}
    <p><strong>Schema</strong>:</p>
    <pre><code class="schema">{{ item.schema | escape }}</code></pre>
  {% endif %}

  {% if item.example %}
    <p><strong>Example</strong>:</p>
    {% if item.type == 'string' %}
      <pre>{{ item.example| escape }}</pre>
    {% else %}
      <pre><code>{{ item.example | escape }}</code></pre>
    {% endif %}
  {% endif %}
</li>
