:root {
  font-size: 62.5%;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  @media screen and (max-width: 768px){
    font-family: YuGothic,"メイリオ", Meiryo,"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
header, footer, main, article, section, figure, figcaption, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap{
  width: 100%;
  overflow: hidden;
}
